@import 'tailwindcss';
@import '@fontsource-variable/inter';

@theme {
  --font-inter: 'Inter Variable', sans-serif;
}

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
